<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Project Control Center - Login</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table width="980" border="0" cellspacing="0" cellpadding="0"
					align="center">
					<tr>
						<td>
							<!-- TOP BANNER BEGINS -->
							<table width="980" border="0" cellspacing="0" cellpadding="0"
								id="title_tbl">
								<tr>
									<td width="44">&nbsp;</td>
									<td width="396"><h4>
											<div location="titleLettering" />
										</h4>
										<h5>
											<div location="tagline" />
										</h5>
									</td>
									<td width="210">&nbsp;</td>
									<td width="290"><table width="290" border="0"
											cellspacing="0" cellpadding="0">
											<tr>
												<td height="44"><h1>
														<div location="privateBetaTesterLogin" />
													</h1>
												</td>
											</tr>
											<tr>
												<td><img src="img/member_title_02.png"
													alt="member title box image" width="290" height="10" /></td>
											</tr>
										</table>
									</td>
									<td width="40">&nbsp;</td>
								</tr>
							</table> <!-- TOP BANNER ENDS --> <!-- CONTENT TABLE BEGINS -->
							<table width="980" border="0" cellspacing="0" cellpadding="0"
								id="content_tbl">
								<tr>
									<td width="44">&nbsp;</td>
									<td width="396" valign="top">
										<!-- 
										<h1>
											<div location="theProblemTitle" />
										</h1>
										 -->

										<div class="app_txt" location="theProblemText" /> adsassf <!--REQUEST BOX BEGINS-->
										<table id="request_tbl" width="290" border="0" cellpadding="0"
											cellspacing="0" align="center">
											<tr>
												<td><img src="img/log_03_01.png" width="2" height="10"
													alt="" /></td>
												<td><img src="img/request_box_top.png" width="284"
													height="10" alt="" /></td>
												<td><img src="img/log_03_03.png" width="4" height="10"
													alt="" /></td>
											</tr>
											<tr>
												<td><img src="img/request_box_left.png" width="2"
													height="75" alt="" /></td>
												<td id="request_box_content">
												
												<span class="app_txt"><div location="invitationPanelTitle" /></span>
													<div location="emailTextField" />
													<form action="request.html">
														<input name="email_request" type="text"
															value="Please Enter your Email" size="30" /> <input
															type="submit" value="Request Invitation" />
													</form></td>
												<td><img src="img/request_box_right.png" width="4"
													height="75" alt="" /></td>
											</tr>
											<tr>
												<td><img src="img/log_03_07.png" width="2" height="13"
													alt="" /></td>
												<td><img src="img/request_box_bottom.png" width="284"
													height="13" alt="" /></td>
												<td><img src="img/log_03_09.png" width="4" height="13"
													alt="" /></td>
											</tr>
										</table> <!--REQUEST BOX ENDS--></td>
									<td width="106"></td>
									<td width="394">
										<!--LOGIN AND VIDEO TABLE BEGINS -->
										<table width="394" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><table width="394" border="0" cellspacing="0"
														cellpadding="0">
														<tr>
															<td width="104">&nbsp;</td>
															<td><table id="login" width="290" border="0"
																	cellpadding="0" cellspacing="0">
																	<tr>
																		<td><img src="img/login_left.png" width="6"
																			height="140" alt="" /></td>
																		<td id="login_content">
																		<!-- <form action="login.html" method="post" target="_self"> -->
																		
																				<h2><div location="usernameLettering" /></h2>
																				<div location="usernameTextField" />
																				<!-- <input class="login_input" type="text" size="35" />
																				<h2><div location="passwortLettering" /></h2>
																				<div location="passwordTextField" />
																				<div location="loginButton" /> -->
																		<!-- </form> -->
																		</td>
																		<td><img src="img/login_right.png" width="8"
																			height="140" alt="" /></td>
																	</tr>
																	<tr>
																		<td><img src="img/log_03_04.png" width="6"
																			height="15" alt="" /></td>
																		<td><img src="img/login_bottom.png" width="276"
																			height="15" alt="" /></td>
																		<td><img src="img/log_03_06.png" width="8"
																			height="15" alt="" /></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td id="video_atr">
													<!-- ///// COMMENT THIS PART TO HIDE THIS SECTION - BEGINS \\\\\ -->
													<!-- <h1>See it in action</h1> <img src="img/video_ie.jpg"
													width="386" height="312" /> 
													--> <!-- ///// COMMENT THIS PART TO HIDE THIS SECTION - ENDS \\\\\ -->
												</td>
											</tr>
										</table> <!--LOGIN AND VIDEO TABLE ENDS--></td>
									<td width="40">&nbsp;</td>
								</tr>
							</table> <!-- CONTENT TABLE ENDS --> <!-- FOOTER TABLE BEGINS -->
							<table width="980" border="0" cellspacing="0" cellpadding="0"
								id="footer">
								<tr>
									<td width="44">&nbsp;</td>
									<td width="396"><h3>
											<div location="copyright" />
										</h3>
									</td>
									<td width="500">&nbsp;</td>
									<td width="40">&nbsp;</td>
								</tr>
							</table> <!-- FOOTER TABLE ENDS --></td>
					</tr>
				</table></td>
		</tr>
	</table>

</body>
</html>
