<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
	<div id="header_container">
		<div id="header">
			<div id="logo">
				<div location="titleLettering"></div>
				<div location="tagline"></div>
			</div>
			<div location="privateBetaTesterLogin"></div>
		</div>
	</div>
	<div id="content">
		<div location="theProblemText"></div>

		<!--REQUEST BOX BEGINS-->
		<div class="request_box_content">
		<div location="invitationPanelTitle"></div>
		<div location="emailTextField"></div>
		<div location="submitInviationRequestButton"></div>
		<!--REQUEST BOX ENDS-->
		</div>
	</div>
	<div id="log_video">
		<div id="login">
			<div location="usernameLettering"></div>
			<div location="usernameTextField"></div>
			<div location="passwordLettering"></div>
			<div location="passwordTextField"></div>
			<div location="loginButton" />
		</div>
		<div id="video">
			<!-- ///// COMMENT THIS PART TO HIDE THIS SECTION - BEGINS \\\\\ -->
			<!--   <h1>See it in action</h1>
          <img src="img/video_ie.jpg" width="386" height="312" />-->
			<!-- ///// COMMENT THIS PART TO HIDE THIS SECTION - ENDS \\\\\ -->
		</div>
	</div>
	<!-- </div>  -->
	<div location="copyright" />
</body>
</html>
