/**
 * This file is part of Project Control Center (PCC).
 * 
 * Project Control Center (PCC) is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Project Control Center (PCC) is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Project Control Center (PCC).  If not, see <http://www.gnu.org/licenses/>.
 *
 * Copyright 2010, 2011 Dmitri Anatol'evich Pisarenko
 **/
@import url(../reindeer/styles.css);

.v-tree-node-schedulingObjectWithErrors { color:red; }
.v-tree-node-schedulingObjectWithoutErrors { color:black; }

/**
 * Entry page stylesheet (START)
 * @charset "utf-8";
 */
body {
margin:0;
padding:0;
background-color:#666;
}

#title_tbl {
	background:url(img/bg_title.jpg) repeat-x;
	height:54px;
}

#content_tbl {
	background-color:#FFF;
}

#request_box_content {
	background:url(img/request_box_content.png) no-repeat;
	text-align:center;
}

#login_content {
	background:url(img/login_bg.jpg) repeat-x;
	text-align:left;
}

#login_btn {
	margin-left:10px;
	margin-top:5px;
}

#footer {
	 background:url(img/footer_bg.jpg) repeat-x;
	 height: 23px;
}

h1#request_suc {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	margin:0; padding:0;
	letter-spacing:-2px;
	color:#454545;
	text-align:center;
}

#request_tbl {
	text-align:center;
	background:url(img/rq_bg.jpg) repeat-x;
}

#video_atr {
	height:315px;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	margin:0; padding:0;
	letter-spacing:-2px;
	color:#454545;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	margin:0; padding:0;
	letter-spacing:-1px;
	text-indent:10px;
}

h3 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight: normal;
	margin:0; padding:0;
	letter-spacing:-1px;
	text-indent:10px;
	color:#454545;
}

h4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size:26px;
	font-weight:900;
	text-transform:uppercase;
	letter-spacing:-1px;
	margin:0; padding:0;
	color:#454545;
}

h5 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	letter-spacing:4px;
	text-transform:uppercase;
	font-weight:lighter;
	margin:0; padding:0;
	margin-top:-2px;
}

p.app_txt{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:lighter;
	margin-left:10px;
	margin-top:0;
	line-height:15px;
}

span.app_txt{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:lighter;
	color:#1589b1;
}

.login_input{
	margin-left:10px;
	margin-top:5px;
	margin-bottom:10px;
}
/**
 * Entry page stylesheet (END)
 */
 