/**
 * This file is part of Project Control Center (PCC).
 * 
 * Project Control Center (PCC) is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Project Control Center (PCC) is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Project Control Center (PCC).  If not, see <http://www.gnu.org/licenses/>.
 *
 * Copyright 2010, 2011 Dmitri Anatol'evich Pisarenko
 **/
 
@import url(../reindeer/styles.css);

.v-app {
	margin: 0;
	padding: 0;
	background-color: #666;	
}

.v-view .window  {
	width: 100%;
}

.v-gridlayout {
	width: 980px;
	margin: 0px auto;
}

.v-label-titleLettering {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
	color: #454545;
	height: 54px;
	width:980px;
	background: url(img/bg_title.jpg) repeat-x;
}

.v-label-copyright {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	text-indent: 10px;
	color: #454545;
	padding-top: 2px;
	padding-left: 44px;
}

.v-label-theProblemText {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	margin-left: 10px;
	margin-top: 0;
	line-height: 15px;
	background-color: #FFF;
	width: 980px;
}

.v-panel-invitationRequestPanel {
	text-align: center;
	background: url(img/rq_bg.jpg) repeat-x;
}

.v-verticallayout-rightLayout {
	background: url(img/login_bg.png) repeat-x;
	text-align: left;
}

.v-label-privateBetaTesterLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	letter-spacing: -2px;
	color: #454545;
	text-align: left;
	margin-bottom: 1px;
}

.v-label-usernameLettering {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	text-indent: 10px;
}

.v-label-passwordLettering {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	text-indent: 10px;
}

.v-button-loginButton {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
}

.v-label-invitationPanelTitle {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	color: #1589b1;
}

.v-button-submitInviationRequestButton {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
}

.v-gridlayout-mainLayout {
    background-color: #FFFFFF;
    display: table;
    margin: 0 auto;
    position: relative;
    width: 980px;	
}

.v-verticallayout-loginPanel {
	z-index:3;	
}

.v-verticallayout-loginPanel div {
	background: url(img/loginPanel_left.png) no-repeat top left;
}